

<button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="closeClick()">&times;</button>

<mat-dialog-content>
  <div class="example-container" style="text-align:center">
      <mat-tab-group>
          <mat-tab label="Logowanie">
              <mat-form-field>
                  <input matInput placeholder="Podaj login" value id="enteredEmail">
                  <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Wprowadź hasło" [type]="hide ? 'password' : 'text'" id="enteredPassword">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                </mat-form-field>
          </mat-tab>
          <mat-tab label="Rejestracja" *ngIf="false" >
              <mat-form-field>
                  <input matInput placeholder="E-mail" value>
                  <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>
              <mat-form-field>
                  <input matInput placeholder="Wprowadź hasło" [type]="hide ? 'password' : 'text'">
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              </mat-form-field>
              <mat-form-field>
                  <input matInput placeholder="Powtorz hasło" [type]="hide ? 'password' : 'text'">
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              </mat-form-field>
          </mat-tab>
      </mat-tab-group>
    </div>
</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-button (click)="closeClick()" class="btn btn-info">Zamknij</button>
  <button mat-button (click)="login()" class="btn btn-info">Logowanie</button>
</div>

