
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-4">
						<h2>Lista <b>Kół Naukowych</b></h2>
					</div>
					<div class="col-sm-8">
                        <a [routerLink]="[{ outlets: { addScienceClubModal: ['addScienceClub'] } }]" routerLinkActive="active" class="btn btn-primary"><i class="material-icons">&#xE145;</i><span>Dodaj koło</span></a>
                    </div>
                </div>
            </div>
			<div class="table-filter">
				<div class="row">
                    <div class="col-sm-3">
						<div class="show-entries">
							<span>Pokaż</span>
							<select class="form-control">
								<option>5</option>
								<option>10</option>
								<option>15</option>
								<option>20</option>
							</select>
							<span>kół</span>
						</div>
					</div>
                    <div class="col-sm-9">
						<button type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
						<div class="filter-group">
							<label>Nazwa</label>
							<input type="text" class="form-control">
						</div>
						<div class="filter-group">
							<label>Wydział</label>
							<select class="form-control">
								<option>Wszystkie</option>
								<option>Wydział Matematyki</option>
								<option>Wydział Chemiczny</option>
							</select>
						</div>

						<span class="filter-icon"><i class="fa fa-filter"></i>  Filtrowanie</span>
                   </div>
                </div>
			</div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nazwa Koła</th>
						<th>Wydział</th>
						<th>Data założenia</th>
						<th>Więcej</th>
                    </tr>
                </thead>
                <tbody>
					<tr *ngFor="let scienceClub of data; let i = index">
              <td>{{scienceClub.id}}</td>

              <td>{{scienceClub.name}}</td>

              <td>{{scienceClub.department}}</td>

              <td><span>{{scienceClub.createdAt | date:'dd/MMM/yyyy'}}</span></td>

            <td>
              <!--scienceClubDetails/:id-->
                <a [routerLink]="['/scienceClubDetails', scienceClub.id ]" routerLinkActive="active" class="view" title="View Details" data-toggle="tooltip"><i class="material-icons">&#xE5C8;</i></a>
                <mat-icon>edit</mat-icon>

                <mat-icon (click)='deleteScienceClub(scienceClub.id)'>delete</mat-icon>
              </td>
                    </tr>
					<tr>

                </tbody>
            </table>
			<div class="clearfix">
                <div class="hint-text">Pokazuje <b>2</b> z <b>2</b> kół</div>
                <ul class="pagination">
                    <li class="page-item disabled"><a href="#">Poprzednia</a></li>
                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                    <li class="page-item active"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
					<li class="page-item"><a href="#" class="page-link">6</a></li>
					<li class="page-item"><a href="#" class="page-link">7</a></li>
                    <li class="page-item"><a href="#" class="page-link">Następna</a></li>
                </ul>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
    <router-outlet name="addScienceClubModal"></router-outlet>

</body>
</html>
